.App {
  text-align: center;
}

.App-body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  margin: 10px;
  -webkit-transition: width 1s;
  transition: width 1s;

}

@media (min-width: 1025px) {
  .App-logo:hover {
    width: 125px;
    height: 125px;
  }
}